:root{
    --buildforsdgs-primary-color: #9b4efe;
    --buildforsdgs-accent-color: #34D0B6;
    --buildforsdgs-default-color: white;
    --buildforsdgs-muted-color: rgba(0, 0, 0, 0.8);
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--buildforsdgs-default-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: var(--buildforsdgs-primary-color);
    background-color: transparent;
    transition: background-color 300ms ease-out;
}

a:hover{
    color: white;
    background-color: var(--buildforsdgs-primary-color);
    border-radius: 4px;
}

/* end of html elements override */

#buildforsdgs-interactive-container{
    height: 100vh;
}

nav#buildforsdgs-nav{
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    background-color: var(--buildforsdgs-default-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.buildforsdgs-nav-links{
    display: none;
}

a.nav-link{
    display: inline-block;
    padding: 8px;
    margin: 0px 32px;
    text-decoration: none;
}

#buildforsdgs-screening-content{
    margin-top: 32px;
}

.buildforsdgs-question-header{
    width: 100%;
    text-align: center;
    color: var(--buildforsdgs-primary-color);
    font-weight: 600;
    font-family: 'Muli', sans-serif;
}

p.buildforsdgs-question-text{
    color: var(--buildforsdgs-muted-color);
    font-size: 14px;
    text-align: center;
}

span.primary-color-text{
    font-weight: 600;
    color: var(--buildforsdgs-primary-color);
}

.question-options-div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.buildforsdgs-question-option{
    width: 80%;
    margin: 16px 0;
    min-height: 40px;
    color: var(--buildforsdgs-primary-color);
    background-color: white;
    padding: 0px 6px;
    border: none;
    border-radius: 28px;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    transition: background-color 300ms ease-out, color 300ms ease-out;
}

.buildforsdgs-question-option:active{
    color: white;
    background-color: var(--buildforsdgs-primary-color);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

section#bottom-navigation{
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.bottom-navigation-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.buildforsdgs-nav-button{
    width: 42px;
    height: 42px;
    margin: 2px 12px;
    color: var(--buildforsdgs-primary-color);
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.buildforsdgs-nav-button:hover{
    color: white;
    background-color: var(--buildforsdgs-primary-color);
}

@media only screen and (min-width: 768px){
    #buildforsdgs-interactive-container{
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    #buildforsdgs-interactive-container > main{
        flex-basis: 80%;
    }
}

@media only screen and (min-width: 1024px){
    #buildforsdgs-interactive-container{
        display: block;
    }

    nav#buildforsdgs{
        height: 56px;
    }

    .buildforsdgs-nav-links{
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    #buildforsdgs-screening-content{
        margin-top: 64px;
    }

    p.buildforsdgs-question-text{
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.15px;
    }

    .question-options-div{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .buildforsdgs-question-option{
        /* min-height: 56px; */
        width: 30%;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;
        margin: 16px 10px;
        border: 1px solid var(--buildforsdgs-primary-color);
    }

    .buildforsdgs-nav-button{
        border: 1px solid var(--buildforsdgs-primary-color);
    }
}